@font-face {
    font-family: "Josefin";
    src: url("../../font/JosefinSans-VariableFont_wght.ttf");
}

* {
    margin: 0;
    padding: 0;
}

/* ############# Début header ############# */

header {
    width: 80%;
    margin-left: 10%;
    font-family: 'Josefin';
    background-color: #11AB7C;
}

.navbar-toggler {
    margin-left: 70%;
}

.logo {
    height: 5%;
    min-width: 50%;
    max-width: 50%;
}

.navbar-dark .navbar-toggler {
    margin-left: -20%;
    width: 10%;  
}
nav {
    display: flex;
    justify-content: flex-end;
}

nav ul {
    grid-area: 1 / 2 / 2 / 3;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

nav li {
    list-style-type: none;  
    white-space: nowrap;
}

.linkNavHeader {
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 80%;
}

li a:hover {
    color: #0D88CD;
}

.connexionButtonA {
    display: flex;
    margin-right: 50%;
}

.connexionButtonA > a {
    text-align: center;
    font-weight: bold;
    border: solid #0D88CD;
    border-radius: 100px;
    background-color: #0D88CD;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
    border: 2px outset #E8E8E8;
}

.connexionButton > a:hover {
    border: 2px outset #0D88CD;
}

/* ############# Fin header ############# */

/* ############# Début article ############# */

#container {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 100%;
    width: 80%;
    height: 600px;
    margin-left: 10%;
}

.topleft {
    grid-area: 1/1/3/2;
    height: 100%;
    width: 100%;
}

.topright {
    grid-area: 1/2/2/3;
    height: 100%;
    width: 100%;
}

.bottomleft {
    grid-area: 3/1/4/2;
    height: 100%;
    width: 100%;
}

.bottomright {
    grid-area: 2/2/4/3;
    height: 100%;
    width: 100%;
}

.text {
    font-family: "Josefin";
    grid-area: 1/2/2/3;
    width: 100%;
    height: 100%;
    background-color: #E8E8E8;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.text p, h3 {
    width: 80%;
    margin-left: 10%;
    margin-top: -5%;
    text-align: justify;
    font-weight: 400;
}

.imgGrid {
    width: 90%;
    height: 84%;
    grid-area: 1/1/2/2;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 45% 10% 45%;
    row-gap: 3%;
    column-gap: 2%;
    margin: 3%;
}

.imgHT {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.imgZoom:hover img{
    transform: scale(0.95);
}

.iconsArticle {
    width: 50px;
    height: 50px;
    margin-right: 25px;
}

.iconsArticle:hover {
    transform: scale(1.1);
}

/* ############# Fin article ############# */

/* ############# Début formulaire ############# */

#formSubscription{   
    font-family: "Josefin";
    width: 80%;
    text-align: center;
    margin-left: 10%;
    height: 80%;
    background-color: #11AB7C;
}

input{
    font-family: "Josefin";
    text-align: center;
    font-size: 25px;
}

input::placeholder{
    text-align: center;
    font-size: 20px;
}


.container{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
    width: 80%;
    justify-content: center;
}    

#formSubscription h2{
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    color:white;
    font-size: 200%;
}

#lastname{
    width: 49%;
    height: 80px;
    border-radius: 150px;
    background-color: rgba(232, 232, 232, 1);
    margin-bottom: 2%;
    margin-top: 2%;
    margin-right: 2%;
    border: 0 none;
}
    
#firstname{
    width: 49%;
    height: 80px;
    border-radius: 150px;
    background-color: rgba(232, 232, 232, 1);
    margin-top: 2%;    
    border: 0 none;
}


#password{
    width: 49%;
    height: 80px;
    border-radius: 150px;
    background-color: rgba(232, 232, 232, 1);
    margin-bottom: 2%;
    border: 0 none;
    margin-right: 2%;
}

#passwordConfirm {
    width: 49%;
    height: 80px;
    border-radius: 150px;
    background-color: rgba(232, 232, 232, 1);
    margin-bottom: 2%;
    border: 0 none;
}

#email{
    width: 100%;
    height: 80px;
    border-radius: 150px;
    background-color: rgba(232, 232, 232, 1);
    margin-bottom: 2%;
    border: 0 none;
}

#phone{
    width: 100%;
    height: 80px;
    border-radius: 150px;
    background-color: rgba(232, 232, 232, 1);
    margin-bottom: 5%;
    border: 0 none;
}

button{
    font-family: "Josefin";
    width: 30%;
    height: 80px;
    border-radius: 70px;
    background: #0D88CD;
    color: white;
    margin-bottom: 5%;
    font-weight: bold;
    font-size: 20px;
    border: 0 none;
    border: 2px outset #E8E8E8;
}

button:hover {
    border: 2px outset #0D88CD;
}

/* ############# Fin formulaire ############# */

/* ############# Début info sanitaire ############# */

.sanitInfo {
    font-family: "Josefin";
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 400px;
    margin-left: 10%;
    background-color: #E8E8E8;
}

.sanitInfoText {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 80%;
}

.sanitInfoText > p, ul {
    font-size: 25px;
}

.sanitInfoText > ul {   
    margin-left: -10%;
}

.sanitInfoText li {
    list-style-type: circle;
}

.sanitInfoText h2 {
    color: black;
    font-size: 200%;
}

/* ############# Fin info sanitaire ############# */

/* ############# Début plan d'accès ############# */

#accessPlan {
    font-family: "Josefin";
    width: 80%;
    height: 800px;
    margin-left: 10%;
    background-color: #11AB7C;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#accessPlan h2 {
    margin-top: 2%;
    font-size: 200%;
    color: white;
}

.accessPlanImg {
    width: 80%;
    height: 70%;
    margin-bottom: 5%;
}

iframe {
    width: 80%;
    height: 100%;
    margin-left: 10%;
    border-radius: 10px;
}
.accessPlanImg > img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

/* ############# Fin plan d'acces ############# */

/* ############# Début footer ############# */

.footerIndex {
    width: 80%;
    height: 12vh;
    margin-left: 10%;
    background-color: #E8E8E8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-envelope, .fa-facebook, .fa-twitter, .fa-instagram {
    margin-right: 5%;
    margin-left: 50px;
    margin-right: 50px;
    color: black;
}

.fa-facebook:hover {
    color: #4867AA;
    transform: scale(1.3);
}

.fa-twitter:hover {
    color: #1DA1F2;
    transform: scale(1.3);
}

.fa-instagram:hover {
    color: #C9025E;
    transform: scale(1.3);
}

.fa-envelope:hover{
    color: #D93025;
    transform: scale(1.3);
}

/* ############# Fin footer ############# */

/* ############# Début page de connexion ############# */

.main {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#formConnection {
    font-family: "Josefin";
    width: 80%;
    margin-left: 10%;
    text-align: center;
    height: 76vh;
    display: flex;
    align-items: center;
}

.formConnectPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    align-items: center;
}

#formConnection div {
    width: 60%;
    height: 80%;
    margin-left: 20%;
    background-color: #11AB7C;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formConnection h2{
    text-align: center;
    padding-top: 3;
    padding-bottom: 7%;
    color:white;
    font-size: 25px;
}

#passwordConnect {
    width: 100%;
    height: 80px;
    border-radius: 150px;
    background-color: rgba(232, 232, 232, 1);
    margin-bottom: 2%;
    border: 0 none;
}

.buttonConnection {
    padding: 20px 50px 20px 50px;
    border-radius: 100px;
    border: solid rgba(13, 136, 205, 1);
    background-color: rgba(13, 136, 205, 1);
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: 2px outset #E8E8E8;
    width: 70%;
}

.buttonConnection:hover {
    border: 2px outset #0D88CD;
}

.footerConnection {
    width: 80%;
    height: 12vh;
    margin-left: 10%;
    background-color: #E8E8E8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
